// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.letters{
  background-color: blue;
  padding: 4px;
  color: white;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.container{
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
html,body{
  height: 100vh;
}
